/* Importing the standard font for the application */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

/* Standard styling for all components */
* {
    -fx-font-family: Jost;
}

/* Application default styling for all clickable elements */
.clickable:hover {
    -fx-cursor: hand;
}

/* Styling for all children of the TaskManager component */
.task-manager-child {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}